# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.4

print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.4
7.2

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2= 7.5

result = num1 + num2
print(result)

print(result + 2)

9.5
11.5

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

5.5

##### Multiplication

In [11]:
result_mult = num2 * num1
print(result_mult)

15.0

##### Division

In [15]:
result_div = num2 / num1
print(result_div)

result_div /= 2
print(result_div)

3.75
1.875

##### Floor Division

In [18]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

3.0
1.0

##### Modulo

In [20]:
result_modulo = num2 % num1
print(result_modulo)

result_mod= 10 % 3.5
print(result_mod)

1.5
3.0

##### Exponential

In [22]:
square = 5 ** 2
print(square)

square **= 3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [23]:
name = "joel"
print(name)

joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("this is my fist name: ", name)

print("Full Name: ", name, end=" Sinanyan")

this is my fist name:  monte
Full Name:  monte Sinanyan

##### String Concatenation

In [34]:
first_name= "Monte"
last_name = "Sinanyan"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

Monte Sinanyan
Monte Sinanyan, Jr

##### Type Conversion

In [37]:
number = '32'

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [46]:
# input will always return a string
# name = input("What is your name? ")
# print("nice to meet you, " + name)

age = int(input("what is your age?: "))
# age = int(age)
add_age = age + 5
print(add_age)

what is your age?: 21
26

##### format()

In [ ]:
age = input("what is your age? ")

result_string = "you are {} {} and you are getting wiser".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!"
print(result_again)

##### Old Way (python 2)

In [ ]:
result_string2 = "you are %s and you look great for your age" %age
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [20]:
color = input("What is the color of your car? ")
year = input("What year is your car? ")
make = input("what's the make of the vehicle? ")
model = input("and finally what model is your vehicle? ")

car_result = f"So your car is a {color} {year}, {make} {model}"
print(car_result)

What is the color of your car? grey
What year is your car? 2023
what's the make of the vehicle? tesla
and finally what model is your vehicle? model 3
So your car is a grey 2023, tesla model 3

### If Statements

In [40]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#     print("this is true")
# else:
#     print("That thing was false")
    
if num2 < num1 and num3 > 0:
    print("num2 is bigger")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

equal values

##### 'is' keyword

In [3]:
#the is keyword is for checking for the same object, but not for the same value

num3 = 55

if num3 == 55:
    print("this is exact number")

this is exact number

##### 'in' keyword

In [42]:
#check if a character is in a string

char_name = "frodo baggins"

if "frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [44]:
sega_char = "sonic"

if 'a' not in sega_char:
    print('a is not here..')

a is not here..

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [4]:
name = input("Whats your name? ")

if 'p' not in name:
    print("your name is " + name + " and there is no p")
else:
    print("there is a p in your name")

Whats your name? peter
there is a p in your name

## Using 'and'/'or' with If Statements

In [54]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3
#if with 'and' statement

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('true and true')
    
# if with 'or ' statement

if num_13 == num_14 or num_11 > num_12:
    print('false and true')

true and true
false and true

### Elif Statements

In [60]:
first_name = input("whats your name? ")

if first_name == 'smith':
    print('the name is smith')
elif first_name == "brandon":
    print('the name is brandon')
elif first_name != 'max':
    print("the name is not max")
else:
    print('the name is max')
print("hi")

whats your name? smith
the name is smith
hi

### Else Statements

In [ ]:
# see above

### For Loops

In [10]:
name = "Monte Sinanyan"
a_list = [1, 2, 3, 4,]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [14]:
name = "Monte Sinanyan"

for i in name:
    if i == "a":
        continue
    print(i)

M
o
n
t
e

S
i
n
n
y
n

##### Break Statement

In [ ]:
# will break out of current loop

In [15]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [16]:
for i in name:
    pass

##### Double For Loops

In [18]:
for i in range(2):
    for j in range(2):
        print("i = ", i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  1 j =  0
i =  1 j =  1

### While Loops

In [ ]:
#syntax
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
#     num +=1

##### Looping 'While True'

In [22]:
game_over = True

while game_over:
    print('ifninte Loop')
    user_input = input("would you like to stop? ")
    if user_input == "yes":
        game_over = False

ifninte Loop
would you like to stop? no
ifninte Loop
would you like to stop? no
ifninte Loop
would you like to stop? yes

##### While & For Loops Used Together

In [23]:
num = 0

while num < 5:
    print('\n while loop iteration: ' + str(num))
    
    for i in range(2):
        print("for loop iteration: ", str(i))
        
        num += 1

 while loop iteration: 0
for loop iteration:  0
for loop iteration:  1

 while loop iteration: 2
for loop iteration:  0
for loop iteration:  1

 while loop iteration: 4
for loop iteration:  0
for loop iteration:  1

### Built-In Functions

##### range()

In [27]:
for i in range(1,23,3):
    print(i)

1
4
7
10
13
16
19
22

##### len()

In [30]:
name = "hey how are you doing today"

length = len(name)
print(length)

27

##### help()

In [32]:
# use this function to view more info about function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [3]:
#checl a variable to find out what object family or data type it falls into
#isinstance(var, type)
num = 4.8
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.8 is a float

##### abs()

In [7]:
# /-5/ = 5

print(abs(-91))

91

### Try and Except

In [10]:
# use this to log out graceful and useful error messages
# does not stop the program!

try: 
    input_num = int(input('guess a number '))
    print('your number is ' + str(input_num))
except:
    print("that didnt work change your input to a number")

guess a number hello
that didnt work change your input to a number

### Lists

##### Declaring Lists

In [9]:
list_1 = []

names = ['max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [21]:
# list_name[start: stop: step]

# single index
print(names[3])

#print starting at index 1 going to end
print(names[1: ])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

bob
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [29]:
names.append('brandon')
print(names)

['max', 'cindy', 'devon', 'nate', 'monte', 'brandon', 'brandon', 'brandon']

##### .insert()

In [23]:
names.insert(3, 'devon')
print(names)

['max', 'cindy', 'kathy', 'devon', 'bob', 'nate', 'monte']

##### .pop()

In [24]:
# defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want  oassign to variable

my_name = names.pop(2)

print(my_name)
print(names)

kathy
['max', 'cindy', 'devon', 'bob', 'nate', 'monte']


##### .remove()

In [30]:
# value to be removed rather than index

# names.remove('bob')
# print(names)

#remove multiple brandons 

while 'brandon' in names:
    names.remove('brandon')
print(names)

['max', 'cindy', 'devon', 'nate', 'monte']

##### del()

In [31]:
# goes by index rather than value
# be careful with del it can cause indexing errors if not careful

del(names[1])
print(names)

['max', 'devon', 'nate', 'monte']

##### Concatenating Two Lists

In [41]:
# lists can hold any type of other elements including other lists
# they can go as deep as you want: called nested lists

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [42]:
names = ["max", "sam", "josh", ["sally", ["sue", "jim"], "tameka"]]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [47]:
# two ways to loop through a list! one is by index the other is by sing in 

# by index
for i in range(len(names)):
    print(names[i])
    
# loop with in 
for name in names:
    print(name)

max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
max
sam
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [25]:
cubed_numbers = []
for i in range(1, 100):
    if i ** 3 <= 1000:
        cubed_numbers.append(i ** 3)

print(cubed_numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [26]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range (2,101):
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [56]:
user_age = int(input("whats your age? "))
if user_age < 18: 
    print("you are still a kid")
elif user_age >= 18 and user_age < 66:
    print("you are an adult")
else:
    print("you are a senior citizen")

whats your age? 18
you are an adult